.radio {
	width: 15px;
	height: 25px;
	padding: 0 5px 0 0;
	display: inline;
	float: left;
}
#domestic label, #Domestic label {
display: block;
margin-bottom: 0px;
margin-right: 10px;
float:left;
}
.radio {
	background: url(radio1.png) no-repeat;
}
.styled-select.place{
	background:url("location.png") no-repeat scroll right center #FFFFFF;
}
/* .select {
	position: absolute;
	width: 158px; 
	height: 21px;
	padding: 0 24px 0 8px;
	color: #fff;
	font: 12px/21px arial,sans-serif;
	background: url(select.png) no-repeat;
	overflow: hidden;
} *//* With the padding included, the width is 190 pixels: the actual width of the image. */
